In [2]:
import polars as pl
strikes = pl.read_csv("https://raw.githubusercontent.com/philhetzel/opan5510-class10/refs/heads/main/data/faa_strikes.txt", separator="\t")
strikes = strikes.with_columns(pl.col("Collision Date and Time").str.strptime (pl.Datetime) )
strikes

shape: (28_298, 25)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ Airport:  ┆ Airport:  ┆ Origin    ┆ Origin    ┆ … ┆ Wildlife: ┆ Wildlife: ┆ Number of ┆ Record   │
│ Code      ┆ Name      ┆ State     ┆ State     ┆   ┆ Species   ┆ Species   ┆ Strikes   ┆ ID       │
│ ---       ┆ ---       ┆ ---       ┆ Code      ┆   ┆ ---       ┆ ID        ┆ ---       ┆ ---      │
│ str       ┆ str       ┆ str       ┆ ---       ┆   ┆ str       ┆ ---       ┆ i64       ┆ i64      │
│           ┆           ┆           ┆ str       ┆   ┆           ┆ str       ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ KAAF      ┆ APALACHIC ┆ Florida   ┆ FL        ┆ … ┆ Domestic  ┆ 1F12      ┆ 1         ┆ 17459    │
│           ┆ OLA       ┆           ┆           ┆   ┆ dog       ┆           ┆           ┆          │
│           ┆ REGIONAL  ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ ARPT      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ KAAF      ┆ APALACHIC ┆ Florida   ┆ FL        ┆ … ┆ Herons,   ┆ I1        ┆ 1         ┆ 17114    │
│           ┆ OLA       ┆           ┆           ┆   ┆ egrets,   ┆           ┆           ┆          │
│           ┆ REGIONAL  ┆           ┆           ┆   ┆ bitterns  ┆           ┆           ┆          │
│           ┆ ARPT      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ KABE      ┆ LEHIGH    ┆ Pennsylva ┆ PA        ┆ … ┆ American  ┆ K5114     ┆ 1         ┆ 259361   │
│           ┆ VALLEY    ┆ nia       ┆           ┆   ┆ kestrel   ┆           ┆           ┆          │
│           ┆ INTL      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ KABE      ┆ LEHIGH    ┆ Pennsylva ┆ PA        ┆ … ┆ Mourning  ┆ O2205     ┆ 1         ┆ 345167   │
│           ┆ VALLEY    ┆ nia       ┆           ┆   ┆ dove      ┆           ┆           ┆          │
│           ┆ INTL      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ KABE      ┆ LEHIGH    ┆ Pennsylva ┆ PA        ┆ … ┆ Red-taile ┆ K3302     ┆ 1         ┆ 262782   │
│           ┆ VALLEY    ┆ nia       ┆           ┆   ┆ d hawk    ┆           ┆           ┆          │
│           ┆ INTL      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ KYNG      ┆ YOUNGSTOW ┆ Ohio      ┆ OH        ┆ … ┆ Rusty     ┆ ZT106     ┆ 1         ┆ 15818    │
│           ┆ N-WARREN  ┆           ┆           ┆   ┆ blackbird ┆           ┆           ┆          │
│           ┆ RGNL ARPT ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ KYNG      ┆ YOUNGSTOW ┆ Ohio      ┆ OH        ┆ … ┆ Ruddy     ┆ J2140     ┆ 1         ┆ 16759    │
│           ┆ N-WARREN  ┆           ┆           ┆   ┆ duck      ┆           ┆           ┆          │
│           ┆ RGNL ARPT ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ KYNG      ┆ YOUNGSTOW ┆ Ohio      ┆ OH        ┆ … ┆ White-cro ┆ ZX309     ┆ 1         ┆ 17575    │
│           ┆ N-WARREN  ┆           ┆           ┆   ┆ wned      ┆           ┆           ┆          │
│           ┆ RGNL ARPT ┆           ┆           ┆   ┆ sparrow   ┆           ┆           ┆          │
│ KYNG      ┆ YOUNGSTOW ┆ Ohio      ┆ OH        ┆ … ┆ Cedar     ┆ ZD102     ┆ 1         ┆ 17262    │
│           ┆ N-WARREN  ┆           ┆           ┆   ┆ waxwing   ┆           ┆           ┆          │
│           ┆ RGNL ARPT ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ KZPH      ┆ ZEPHYRHIL ┆ Florida   ┆ FL        ┆ … ┆ New World ┆ K1        ┆ 1         ┆ 203484   │
│           ┆ LS        ┆           ┆           ┆   ┆ Vultures  ┆           ┆           ┆          │
│           ┆ MUNICIPAL ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ ARPT      ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [4]:
#Q1
from datetime import date

running_total_strikes = (
    strikes
    # date w/o time
    .with_columns(pl.col("Collision Date and Time").dt.date().alias("date"))
    # daily aggregate
    .group_by("date")
    .agg(pl.col("Number of Strikes").sum().alias("daily_strikes"))
    # sort chronologically
    .sort("date")
    # running total (window-like cumulative op)
    .with_columns(
        pl.col("daily_strikes").cum_sum().alias("strikes_cumulative")
    )
    # filter through 2013-12-31 inclusive
    .filter(pl.col("date") <= date(2013, 12, 31))
)

running_total_strikes

shape: (4_776, 3)
┌────────────┬───────────────┬────────────────────┐
│ date       ┆ daily_strikes ┆ strikes_cumulative │
│ ---        ┆ ---           ┆ ---                │
│ date       ┆ i64           ┆ i64                │
╞════════════╪═══════════════╪════════════════════╡
│ 2000-01-02 ┆ 1             ┆ 1                  │
│ 2000-01-03 ┆ 2             ┆ 3                  │
│ 2000-01-05 ┆ 3             ┆ 6                  │
│ 2000-01-06 ┆ 1             ┆ 7                  │
│ 2000-01-08 ┆ 4             ┆ 11                 │
│ …          ┆ …             ┆ …                  │
│ 2013-12-27 ┆ 6             ┆ 24096              │
│ 2013-12-28 ┆ 1             ┆ 24097              │
│ 2013-12-29 ┆ 2             ┆ 24099              │
│ 2013-12-30 ┆ 4             ┆ 24103              │
│ 2013-12-31 ┆ 6             ┆ 24109              │
└────────────┴───────────────┴────────────────────┘

In [6]:

#Q2
damage_state = (
    strikes
    # Clean currency -> float on the fly
    .with_columns(
        pl.col("Cost: Total $")
          .cast(pl.Utf8)
          .str.replace_all(r"[^0-9.\-]", "")
          .cast(pl.Float64)
          .alias("cost_clean")
    )
    # Window sum by Origin State
    .with_columns(
        pl.col("cost_clean").sum().over("Origin State").alias("damage")
    )
    .select("Origin State", "damage")
    .unique()
    # Global rank by total damage (1 = highest)
    .with_columns(
        pl.col("damage").rank(method="dense", descending=True).alias("ranking")
    )
    .filter(pl.col("ranking") == 3)
    .sort("Origin State")
)

damage_state

shape: (1, 3)
┌──────────────┬─────────────┬─────────┐
│ Origin State ┆ damage      ┆ ranking │
│ ---          ┆ ---         ┆ ---     │
│ str          ┆ f64         ┆ u32     │
╞══════════════╪═════════════╪═════════╡
│ California   ┆ 2.9671432e7 ┆ 3       │
└──────────────┴─────────────┴─────────┘

In [8]:
#Q3

import polars as pl

type_species = (
    strikes
    .with_columns(
        pl.col("Cost: Total $").cast(pl.Utf8)
        .str.replace_all(r"[^0-9.\-]", "")
        .cast(pl.Float64)
        .alias("cost_clean")
    )
    .group_by(["Aircraft: Type", "Wildlife: Species Group"])
    .agg(pl.col("cost_clean").sum().alias("damage"))
    .with_columns(
        # rank within each aircraft type (window fn)
        pl.col("damage")
          .rank(method="dense", descending=True)
          .over("Aircraft: Type")
          .alias("ranking")
    )
    .filter(pl.col("ranking") == 2)
    .sort(["Aircraft: Type", "damage"], descending=[False, True])
)

type_species

shape: (3, 4)
┌────────────────┬─────────────────────────┬─────────────┬─────────┐
│ Aircraft: Type ┆ Wildlife: Species Group ┆ damage      ┆ ranking │
│ ---            ┆ ---                     ┆ ---         ┆ ---     │
│ str            ┆ str                     ┆ f64         ┆ u32     │
╞════════════════╪═════════════════════════╪═════════════╪═════════╡
│ Airplane       ┆ Kites, Hawks, Eagles    ┆ 4.8989287e7 ┆ 2       │
│ Helicopter     ┆ Vultures                ┆ 116748.0    ┆ 2       │
│ NA             ┆ Vultures                ┆ 56227.0     ┆ 2       │
└────────────────┴─────────────────────────┴─────────────┴─────────┘

In [10]:
#Q4

greatest_strike_increase = (
    strikes
    .with_columns(
        pl.col("Collision Date and Time").dt.date().alias("date"),
        pl.col("Number of Strikes").cast(pl.Int64).alias("strikes_n")
    )
    .group_by("date")
    .agg(pl.col("strikes_n").sum().alias("daily_strikes"))
    .sort("date")
    # add a constant group to make the lag explicitly a window function
    .with_columns(pl.lit(1).alias("_grp"))
    .with_columns(
        pl.col("daily_strikes")
          .shift(1)                   # lag
          .over("_grp")               # window over the whole table (explicit)
          .alias("previous_day")
    )
    .drop("_grp")
    .with_columns(
        (pl.col("daily_strikes") - pl.col("previous_day")).alias("delta_strikes")
    )
    .sort("delta_strikes", descending=True, nulls_last=True)
)

greatest_strike_increase

shape: (5_285, 4)
┌────────────┬───────────────┬──────────────┬───────────────┐
│ date       ┆ daily_strikes ┆ previous_day ┆ delta_strikes │
│ ---        ┆ ---           ┆ ---          ┆ ---           │
│ date       ┆ i64           ┆ i64          ┆ i64           │
╞════════════╪═══════════════╪══════════════╪═══════════════╡
│ 2010-10-29 ┆ 25            ┆ 7            ┆ 18            │
│ 2014-08-25 ┆ 25            ┆ 8            ┆ 17            │
│ 2012-06-28 ┆ 21            ┆ 5            ┆ 16            │
│ 2009-07-07 ┆ 21            ┆ 7            ┆ 14            │
│ 2013-11-04 ┆ 22            ┆ 8            ┆ 14            │
│ …          ┆ …             ┆ …            ┆ …             │
│ 2012-10-14 ┆ 5             ┆ 20           ┆ -15           │
│ 2014-08-26 ┆ 10            ┆ 25           ┆ -15           │
│ 2014-10-29 ┆ 5             ┆ 24           ┆ -19           │
│ 2013-08-20 ┆ 8             ┆ 28           ┆ -20           │
│ 2000-01-02 ┆ 1             ┆ null         ┆ null          │
└────────────┴───────────────┴──────────────┴───────────────┘

In [12]:
#Q5
import polars as pl

greatest_strike_increase_type = (
    strikes
    .with_columns(
        # Cast to string first so this works whether the source is already datetime or not
        pl.col("Collision Date and Time").cast(pl.Utf8).str.to_datetime(strict=False).dt.date().alias("date"),
        pl.col("Number of Strikes").cast(pl.Int64).alias("strikes_n")
    )
    .group_by(["Aircraft: Type", "date"])
    .agg(pl.col("strikes_n").sum().alias("daily_strikes"))
    .sort(["Aircraft: Type", "date"])
    .with_columns(
        # Lag per aircraft type (window function)
        pl.col("daily_strikes")
          .shift(1)
          .over("Aircraft: Type")
          .alias("previous_day")
    )
    .with_columns(
        (pl.col("daily_strikes") - pl.col("previous_day")).alias("delta_strikes")
    )
    .filter(pl.col("delta_strikes").is_not_null())
    .with_columns(
        # Rank within each type by positive jump; 1 = largest
        pl.col("delta_strikes")
          .rank(method="dense", descending=True)
          .over("Aircraft: Type")
          .alias("ranking")
    )
    .filter(pl.col("ranking") == 1)
    .sort(["Aircraft: Type", "delta_strikes", "date"], descending=[False, True, False])
)

greatest_strike_increase_type

shape: (6, 6)
┌────────────────┬────────────┬───────────────┬──────────────┬───────────────┬─────────┐
│ Aircraft: Type ┆ date       ┆ daily_strikes ┆ previous_day ┆ delta_strikes ┆ ranking │
│ ---            ┆ ---        ┆ ---           ┆ ---          ┆ ---           ┆ ---     │
│ str            ┆ date       ┆ i64           ┆ i64          ┆ i64           ┆ u32     │
╞════════════════╪════════════╪═══════════════╪══════════════╪═══════════════╪═════════╡
│ Airplane       ┆ 2014-08-25 ┆ 25            ┆ 8            ┆ 17            ┆ 1       │
│ Helicopter     ┆ 2010-07-21 ┆ 2             ┆ 1            ┆ 1             ┆ 1       │
│ Helicopter     ┆ 2012-11-02 ┆ 2             ┆ 1            ┆ 1             ┆ 1       │
│ Helicopter     ┆ 2013-10-28 ┆ 2             ┆ 1            ┆ 1             ┆ 1       │
│ Helicopter     ┆ 2014-08-14 ┆ 2             ┆ 1            ┆ 1             ┆ 1       │
│ NA             ┆ 2014-08-04 ┆ 5             ┆ 1            ┆ 4             ┆ 1       │
└────────────────┴────────────┴───────────────┴──────────────┴───────────────┴─────────┘